In [1]:
import pandas as pd

In [2]:
Comps = ["MSFT", "AAPL", "NVDA", "AVGO", 
         "BRK-B", "JPM",
         "LLY", "UNH", "AMZN", "GE", "GOOG", "WMT", "XOM", "LIN",]

In [5]:
t = []
for i in range(len(Comps)):
    t.append(pd.read_csv(f'../data/{Comps[i]}_price.csv'))
    t[i]['Symbol']=Comps[i]

In [10]:
df = t[0]
for i in range(1,len(Comps)):
    df = pd.concat([df,t[i]],axis = 0)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2000-01-03,58.687500,59.312500,56.000000,58.281250,36.065567,53228400,MSFT
1,2000-01-04,56.781250,58.562500,56.125000,56.312500,34.847260,54119000,MSFT
2,2000-01-05,55.562500,58.187500,54.687500,56.906250,35.214710,64059600,MSFT
3,2000-01-06,56.093750,56.937500,54.187500,55.000000,34.035069,54976600,MSFT
4,2000-01-07,54.312500,56.125000,53.656250,55.718750,34.479858,62013600,MSFT
...,...,...,...,...,...,...,...,...
6032,2023-12-22,410.589996,412.279999,408.760010,410.739990,409.529022,838900,LIN
6033,2023-12-26,410.609985,411.730011,409.630005,409.929993,408.721436,619300,LIN
6034,2023-12-27,408.000000,411.350006,408.000000,411.209991,409.997650,850900,LIN
6035,2023-12-28,410.529999,410.899994,409.209991,409.769989,408.561890,814400,LIN
6036,2023-12-29,408.720001,412.119995,407.959991,410.709991,409.499115,975900,LIN

In [11]:
df.to_csv('../data/stock_price.csv')